@use "../helpers/index" as *;

.download-app {
  justify-content: space-between;
  @include break-point(VS) {
    flex-direction: column;
    > div:first-child {
      margin-bottom: $padding_large;
    }
  }
  h2 {
    color: $red_color;
    margin-bottom: calc($padding_large / 2);
  }
  > div {
    flex-basis: 48%;
    button {
      width: 90%;
      height: 52px;
      padding: 8px;
      background-color: $reverse-main_color;
      border: none;
      @include radius(100px);
      cursor: pointer;
      &:not(:last-child) {
        margin-left: 0.5rem;
      }

      img {
        width: 85%;
      }
    }
  }
}

// Social Component

.social {
  a {
    display: inline-block;
    width: 56px;
    height: 56px;
    margin-left: 1rem;
    border: $disabled-color solid 1px;
    @include radius;
    padding: 2px;
    text-align: center;
    position: relative;
    @include transition(0.3s);
    
    img {
      position: absolute;
      width: 32px;
      height: 32px;
      top: calc(50% - (32px / 2));
      left: 50%;
      @include transform(translateX(-50%));
    }
  }
}
