@use "../helpers/index" as *;


.download-app {
  justify-content: space-between;
  @include break-point(VS) {
    flex-direction: column;
    > div:first-child {
      margin-bottom: $padding_large;
    }
  }
  h2 {
    color: $red_color;
    margin-bottom: calc($padding_large / 2);
  }
  > div {
    flex-basis: 48%;
    button {
      width: 90%;
      height: 52px;
      padding: 8px;
      background-color: $reverse-main_color;
      border: none;
      @include radius(100px);
      cursor: pointer;
      &:not(:last-child) {
        margin-left: 0.5rem;
      }

      img {
        width: 85%;
      }
    }
  }
}
