@use "../helpers/index" as *;

.order-steps {
  min-height: 100vh;
  min-width: 100vw;

  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: calc($padding_large * 3);
    margin-top: calc($padding_large * 5);
    color: $reverse-main_color;

    .item {
      height: 320px;
      border: $disabled-color solid 1px;
      justify-content: space-between;
      align-items: center;
      padding: $padding_large;
      @include radius($padding_large);
      position: relative;
      background-color: $main-color;
      &::before {
        content: "0" attr(data-index);
        position: absolute;
        top: -25px;
        z-index: -1;
        right: -25px;
        font-weight: 900;
        width: -moz-fit-content;
        width: fit-content;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px black;
        font-size: calc($xl_font_size * 1.8);
      }

      img {
        height: 180px;
        width: 100%;
        margin-bottom: $padding_large;
      }
    }
  }
}
