* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.col-flex {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.h2 {
  font-size: 1.9230769231rem;
  font-weight: bold;
}

.h2-m {
  font-weight: 300;
  font-size: 1.5rem;
  color: #515151;
  margin-bottom: 2rem;
  line-height: 40px;
}

.medium-head {
  font-size: 1.5rem;
  font-weight: bold;
}

/*
  /// Tip:
  you Can make All Media Screens as a Variables 
  in _breakPoints.scss & _variables.scss Files 
  but this is just a small Test to show you how to use This Structure
*/
.container {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.header {
  background-color: #FFF8F8;
  min-height: 100vh;
  min-width: 100vw;
  padding-block: 1.4rem;
}
.header .app-bar {
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: #FFF8F8;
}
.header .app-bar .logo img {
  height: 100%;
  width: 120px;
}
@media screen and (max-width: 991px) {
  .header .app-bar .logo img {
    width: 90px;
  }
}
.header .app-bar .links nav {
  margin-left: 4rem;
}
@media screen and (max-width: 991px) {
  .header .app-bar .links nav {
    display: none;
  }
}
.header .app-bar .links nav ul li {
  font-size: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  overflow: hidden;
}
.header .app-bar .links nav ul li:hover::before {
  width: 100%;
  right: 0;
}
.header .app-bar .links nav ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 0;
  height: 3px;
  transition: 0.4s;
  border-radius: 100px;
  background: linear-gradient(to left, #E32127 0%, #E32127 20%, transparent 20%, transparent 30%, #E32127 30%, #E32127 100%);
}
.header .app-bar .links nav ul li:not(:last-child) {
  margin-left: 2rem;
}
.header .app-bar .links nav ul li a:hover {
  color: #E32127;
}
.header .app-bar .links .actions {
  gap: 2rem;
}
.header .app-bar .links .actions button {
  height: 56px;
  background-color: transparent;
  border: none;
  border: 1px solid #515151;
  border-radius: 120px;
  cursor: pointer;
  font-family: inherit;
}
.header .app-bar .links .actions .lang {
  width: 86px;
  text-align: center;
  font-size: 1.2rem;
}
.header .app-bar .links .actions .lang:hover {
  border: none;
  background-color: #E32127;
  color: #ffffff;
}
.header .app-bar .links .actions .lang img {
  width: 32px;
  height: 100%;
  margin-left: 4px;
}
.header .app-bar .links .actions .connect {
  width: 150px;
}
.header .welcome-head {
  min-height: calc(100vh - 2.8rem - 8vh);
}
@media screen and (max-width: 991px) {
  .header .welcome-head {
    flex-direction: column;
  }
  .header .welcome-head .welcome-img {
    flex-basis: 30%;
  }
  .header .welcome-head .welcome-img img {
    height: 420px;
  }
}
.header .welcome-head .welcome-content {
  flex-basis: 50%;
}
@media screen and (max-width: 991px) {
  .header .welcome-head .welcome-content {
    flex-basis: 100%;
    order: 1;
  }
}
.header .welcome-head .welcome-content h2 {
  font-weight: 500;
}
.header .welcome-head .welcome-content .welcome-msg {
  margin-bottom: 5rem;
}
.header .welcome-head .welcome-content .welcome-msg span {
  color: #E32127;
}
.header .welcome-head .welcome-content .welcome-msg h2 {
  color: #515151;
}
@media screen and (max-width: 991px) {
  .header .welcome-head .welcome-content .welcome-msg {
    text-align: center;
  }
}
.header .welcome-head .welcome-img {
  flex-basis: 50%;
}
.header .welcome-head .welcome-img img {
  width: 100%;
  animation: mov-up-down 5s alternate infinite linear;
}
@media screen and (max-width: 576px) {
  .header .welcome-head .welcome-img {
    display: none;
  }
}

@keyframes mov-up-down {
  0%, 100% {
    transform: translateY(30px);
    transform-origin: center;
  }
  50% {
    transform: translateY(-50px);
    transform-origin: center;
  }
}
.why-shipper {
  min-height: 100vh;
  min-width: 100vw;
}
.why-shipper .container {
  min-height: inherit;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .why-shipper .container {
    flex-direction: column;
    justify-content: center;
  }
  .why-shipper .container .shipper-truck img {
    height: 420px;
  }
}
.why-shipper .shipper-truck {
  flex-basis: 48%;
}
@media screen and (max-width: 576px) {
  .why-shipper .shipper-truck {
    display: none;
  }
}
.why-shipper .shipper-truck img {
  min-width: 100%;
  height: 520px;
}
.why-shipper .why-content {
  flex-basis: 45%;
}
.why-shipper .why-content .achievements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
}
.why-shipper .why-content .achievements .item {
  flex-basis: 280px;
}
.why-shipper .why-content .achievements .item .info {
  margin-right: 1rem;
}
.why-shipper .why-content .achievements .item .info p:first-child {
  color: #E32127;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.why-shipper .why-content .achievements .item .info p:last-child {
  font-size: 1.2rem;
  color: #515151;
}

.shipment-steps {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}
.shipment-steps::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 62%;
  background-color: #FFF8F8;
  z-index: -1;
}
.shipment-steps .container {
  min-height: inherit;
  padding-top: 10rem;
}
.shipment-steps .container .intro {
  padding-block: 4rem;
}
.shipment-steps .container .intro p {
  text-align: center;
}
.shipment-steps .container .steps {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.shipment-steps .container .steps .item {
  background-color: #ffffff;
  box-shadow: 0 0 1rem #ddd;
  padding: 2rem;
  border-radius: 2rem;
  cursor: default;
  transition: 0.3s;
}
.shipment-steps .container .steps .item:hover {
  transform: scale(1.2);
  transform-origin: center;
}
.shipment-steps .container .steps .item img {
  height: 100%;
  width: 120px;
  margin-bottom: 2rem;
}
.shipment-steps .container .steps .item h2 {
  color: #E32127;
  line-height: 0;
}
.shipment-steps .container .steps .item p {
  font-size: 1.2rem;
  line-height: 30px;
  color: #515151;
}

.order-steps {
  min-height: 100vh;
  min-width: 100vw;
}
.order-steps .container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 6rem;
  margin-top: 10rem;
  color: #000;
}
.order-steps .container .item {
  height: 320px;
  border: #515151 solid 1px;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  position: relative;
  background-color: #ffffff;
}
.order-steps .container .item::before {
  content: "0" attr(data-index);
  position: absolute;
  top: -25px;
  z-index: -1;
  right: -25px;
  font-weight: 900;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  font-size: 4.5rem;
}
.order-steps .container .item img {
  height: 180px;
  width: 100%;
  margin-bottom: 2rem;
}

.connect-us {
  min-height: 100vh;
  min-width: 100vw;
}
.connect-us .container {
  padding-top: 10rem;
}
.connect-us .container .connect {
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .connect-us .container .connect {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
.connect-us .container .connect .connect-content {
  flex-basis: 40%;
}
@media screen and (max-width: 991px) {
  .connect-us .container .connect .connect-content {
    width: 100%;
    text-align: center;
  }
  .connect-us .container .connect .connect-content h2 {
    margin: 0 auto;
  }
}
.connect-us .container .connect .connect-content .msg {
  margin-bottom: 2rem;
}
.connect-us .container .connect .connect-content .msg p {
  margin: 0;
}
.connect-us .container .connect .connect-content .social a:hover {
  box-shadow: 0 0 1.5rem #E32127;
  transform: scale(1.1);
  transform-origin: center;
}
.connect-us .container .connect .connect-form {
  flex-basis: 58%;
}
@media screen and (max-width: 991px) {
  .connect-us .container .connect .connect-form {
    width: 100%;
  }
}
.connect-us .container .connect .connect-form .user-info {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.connect-us .container .connect .connect-form .user-info input {
  width: 48%;
  height: 50px;
  border: none;
  border-bottom: #515151 solid 1px;
  padding-right: 38px;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: inherit;
}
.connect-us .container .connect .connect-form .user-info input:focus {
  outline: none;
  border-bottom-width: 2px;
}
.connect-us .container .connect .connect-form .user-info input:first-child {
  background: url(../assets/user.svg) no-repeat scroll right center;
  background-size: 32px;
}
.connect-us .container .connect .connect-form .user-info input:last-child {
  background: url(../assets/phone.svg) no-repeat scroll right center;
  background-size: 32px;
}
.connect-us .container .connect .connect-form textarea {
  border: none;
  border-bottom: #515151 solid 1px;
  margin-bottom: 2rem;
  resize: none;
  overflow: auto;
  height: 60px;
  background: url(../assets/pen.svg) no-repeat scroll right center;
  background-size: 32px;
  padding-right: 38px;
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: inherit;
}
.connect-us .container .connect .connect-form textarea:focus {
  outline: none;
  border-bottom-width: 2px;
}
.connect-us .container .connect .connect-form button {
  width: 200px;
  height: 56px;
  margin-top: 2rem;
}
.connect-us .container .connect .connect-form button::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  background: no-repeat url("../assets/send.svg");
  background-size: 28px;
  width: 38px;
  height: 38px;
  transform: translateY(-40%);
  transform-origin: center;
}
.connect-us .container .store-app {
  background-color: #FFF8F8;
  margin-top: 8rem;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 2rem;
  border-radius: 2rem;
}
.connect-us .container .store-app .download-content {
  flex-basis: 60%;
}
@media screen and (max-width: 991px) {
  .connect-us .container .store-app .download-content {
    flex-basis: 100%;
  }
}
.connect-us .container .store-app .download-content h2 {
  margin-bottom: 1rem;
}
.connect-us .container .store-app .download-content p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
.connect-us .container .store-app .mobile {
  flex-basis: 35%;
  height: 320px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .connect-us .container .store-app .mobile {
    display: none;
  }
}
.connect-us .container .store-app .mobile img {
  height: 100%;
  position: absolute;
  bottom: -2.3rem;
  left: 0;
}

.footer {
  min-height: 50vh;
  min-width: 100vw;
  background-color: #FFF8F8;
  margin-top: 6rem;
  justify-content: space-between;
}
.footer .container:not(.rights-reserved .container) {
  padding-top: 4rem;
}
.footer .container:not(.rights-reserved .container) .address-content {
  gap: 10%;
  align-items: flex-start;
}
.footer .container:not(.rights-reserved .container) .address-content .footer-text {
  width: 40%;
}
.footer .container:not(.rights-reserved .container) .address-content .footer-text .logo {
  width: 120px;
  height: 50px;
  margin-bottom: 2rem;
}
.footer .container:not(.rights-reserved .container) .address-content .footer-text .logo img {
  height: 100%;
  width: 100%;
}
.footer .container:not(.rights-reserved .container) .address-content .footer-text p {
  font-size: 1.2rem;
}
.footer .container:not(.rights-reserved .container) .address-content .footer-connect-us {
  width: 50%;
}
.footer .container:not(.rights-reserved .container) .address-content .footer-connect-us .address .item {
  align-items: center;
  margin-bottom: 1.6666666667rem;
  font-size: 1.2rem;
}
.footer .container:not(.rights-reserved .container) .address-content .footer-connect-us .address .item img {
  height: 100%;
  width: 38px;
  margin-left: 1.3333333333rem;
}
.footer .container:not(.rights-reserved .container) .address-content .footer-connect-us .address .item a {
  direction: ltr;
}
.footer .container:not(.rights-reserved .container) .address-content .footer-connect-us .address .item a:hover {
  color: #E32127;
  text-decoration: underline;
}
.footer .rights-reserved {
  border-top: #515151 solid 1px;
  height: 56px;
}
.footer .rights-reserved .container {
  height: inherit;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .footer .rights-reserved .container p {
    font-size: 0.8rem;
  }
}
.footer .rights-reserved .container .social a {
  width: 28px;
  height: 28px;
  border-color: #E32127;
}
@media screen and (max-width: 576px) {
  .footer .rights-reserved .container .social a {
    margin-left: 0.5rem;
  }
}
.footer .rights-reserved .container .social a img {
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
}

.download-app {
  justify-content: space-between;
  gap: 12px;
}
@media screen and (max-width: 576px) {
  .download-app {
    flex-direction: column;
  }
  .download-app > div:first-child {
    margin-bottom: 2rem;
  }
}
.download-app h2 {
  color: #E32127;
  margin-bottom: 1rem;
}
.download-app > div {
  flex-basis: 48%;
}

.social a {
  display: inline-block;
  width: 56px;
  height: 56px;
  margin-left: 1rem;
  border: #515151 solid 1px;
  border-radius: 50%;
  padding: 2px;
  text-align: center;
  position: relative;
  transition: 0.3s;
}
.social a img {
  position: absolute;
  width: 32px;
  height: 32px;
  top: calc(50% - 16px);
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
}

.btn-mark {
  border: none !important;
  text-align: center;
  font-size: 1.2rem;
  line-height: 52px;
  background-color: #E32127 !important;
  color: #ffffff;
  position: relative;
  font-family: inherit;
  cursor: pointer;
  border-radius: 100px;
  transition: box-shadow 0.3s;
}
.btn-mark::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 4px;
  width: 100%;
  height: 100%;
  background: no-repeat url("../assets/border_btn.svg");
}
.btn-mark:hover {
  box-shadow: 0 0 12px #E32127;
}

.store-btn {
  width: 150px;
  height: 52px;
  padding: 8px;
  background-color: #000;
  border: none;
  position: relative;
  border-radius: 100px;
}
@media screen and (max-width: 1199px) {
  .store-btn {
    width: 120px;
  }
}
@media screen and (max-width: 576px) {
  .store-btn {
    width: 150px;
  }
}
.store-btn:not(:last-child) {
  margin-left: 0.5rem;
}
.store-btn img {
  width: 68%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.grd-b {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 2rem;
}
.grd-b::before {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 4px;
  border-radius: 100px;
  background: linear-gradient(to left, #E32127 0%, #E32127 20%, transparent 20%, transparent 26%, #E32127 26%, #E32127 100%);
}/*# sourceMappingURL=shipper.css.map */